{% extends 'base.html' %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

    {% include 'includes/alerts.html' %}  

    <div class="container">
        <div class="row">
            <aside class="col-md-3">
                <!--   SIDEBAR   -->

                <h2>Dashboard Summary</h2>
                
                <!--   SIDEBAR .//END   -->
            </aside>
            <main class="col-md-9">

                <h2>Dashboard Details</h2>

            </main>
        </div> <!-- row.// -->
    </div>
    
    
</section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}