<!-- ========================= CUSTOM STYLE  ========================= -->
<style>

    </style>
<!-- ========================= CUSTOM STYLE END// ========================= -->



<!-- ========================= FOOTER ========================= -->
<br>
<div class="box">
	<footer class="section-footer">
		<!-- <footer class="section-footer border-top"> -->
		<div class="containers">
			<section class="footer-bottom row ">
				<!-- <section class="footer-bottom border-top row"> -->
				<div class="col-md-2">
					<p class="text-muted"> &copy 2022 SCCIIoT </p>
				</div>
				<div class="col-md-6 text-md-center">
					<span  class="px-2">scc.iiot.ws@gmail.com</span>
					<span  class="px-2">+966 555682150</span>
					<span  class="px-2">Jeddah, SA</span>
				</div>
				<div class="col-md-4 text-md-right text-muted">
					<span  class="px-2">Research Study Project on IIot and AI</span>				
					<!-- <i class="fab fa-lg fa-cc-visa"></i>
					<i class="fab fa-lg fa-cc-paypal"></i>
					<i class="fab fa-lg fa-cc-mastercard"></i> -->
				</div>
			</section>
		</div><!-- //container -->
	</footer>
</div>
<!-- ========================= FOOTER END // ========================= -->