<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
 <h2>Welcome to the updated IIoT Startup Project</h2>   
 {%  for item in notif %}
  {{item.machine}} - {{item.created}} - {{item.category}} - {{item.description}}<br>
 {% endfor %}

 <form action="" method="POST">
    {% csrf_token %}
    {{notif_form}} 
<button type="submit">Save</button>
 </form>

</body>
</html>