<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
 <h2>Welcome to the updated IIoT Startup Project</h2>   
 {%  for item in notif %}
  {{item.machine}} - {{item.created}} - {{item.category}} - {{item.description}}<br>
 {% endfor %}

<hr>
 <h2>Notification Form</h2>
 <form action="{% url 'notif_form' %}" method="POST">

    {% csrf_token %}

    <div>
        <label>Machine</label><br>
        {{notif_form.machine}} <br><br>
    </div>

    <div>
        <label>Category</label><br>
        {{notif_form.category}} <br><br>
    </div>

    <div>
        <label for="">Description</label><br>
        {{notif_form.description}} <br><br>        
    </div>

<button type="submit">Save</button>
<hr>
 </form>

</body>
</html>